In [1]:
import pandas as pd

df = pd.read_csv('covid_19_clean_complete.csv')

df = df.groupby(['Date', 'Country/Region'])['Confirmed'].sum().reset_index()

df['Date'] = pd.to_datetime(df['Date'])

df = df.sort_values('Date')

df.head()

          Date Country/Region  Confirmed
0   2020-01-22    Afghanistan          0
120 2020-01-22    Netherlands          0
121 2020-01-22    New Zealand          0
122 2020-01-22      Nicaragua          0
123 2020-01-22          Niger          0

In [2]:
df = df.pivot(index='Country/Region', columns='Date', values='Confirmed').reset_index()
df.head()

Date,Country/Region,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2020-04-28 00:00:00,2020-04-29 00:00:00,2020-04-30 00:00:00,2020-05-01 00:00:00,2020-05-02 00:00:00,2020-05-03 00:00:00,2020-05-04 00:00:00,2020-05-05 00:00:00,2020-05-06 00:00:00,2020-05-07 00:00:00
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1828,1939,2171,2335,2469,2704,2894,3224,3392,3563
1,Albania,0,0,0,0,0,0,0,0,0,...,750,766,773,782,789,795,803,820,832,842
2,Algeria,0,0,0,0,0,0,0,0,0,...,3649,3848,4006,4154,4295,4474,4648,4838,4997,5182
3,Andorra,0,0,0,0,0,0,0,0,0,...,743,743,745,745,747,748,750,751,751,752
4,Angola,0,0,0,0,0,0,0,0,0,...,27,27,27,30,35,35,35,36,36,36

In [3]:
df.to_csv('flurish_data.csv')